core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt


#first {
    font-family: "Lilita One", sans-serif;
    font-size: 10px;
    color: #3a3a3a;
    text-align: left;
}
