@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Delicious+Handrawn&family=Lilita+One&display=swap');   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

html, body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Delicious Handrawn", sans-serif;
    font-weight:400;
    color: #fff;
    background-color: #011F5D;
    
}

h1, h2 {
    font-family: "Lilita One", sans-serif;
    text-transform: uppercase;
    color: #fff;
}

/* heading and logo */

nav {
    height: 50px;
    width: 100%;
}

.navbar {
    height: 50px;
    overflow: hidden;
    background-color: #3a3a3a;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }

#container-for-icon {
    width: 38px;
    height: 38px;
    float: left;
    padding: 5px;
}

#image-for-icon {
    background: url(../images/favicon.png) no-repeat center center;
    height: 38px;
    width: 38px;
    border-radius: 50%;
}
  
.logo{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 10px;
    
  }
  
  .logo a:hover {
    background: #ddd;
    color: black;
  }
  
   .container {
    position: absolute;
    width: auto;
   }
  
#logo {
    float: left;
    font-size: 40px;
    letter-spacing: 2px;
    padding-top: 4px;
    margin-left: 15px;
}


/* navigation links */

#menu {
    font-size: 140%;
    letter-spacing: 2px;
    font-family: "Lilita One", sans-serif;
    padding-top: 5px;
}

#menu, #logo {
    line-height: 40px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #fff;
}

#menu a:hover {
    border-bottom: 2px solid #fff;
}

.active {
    border-bottom: 2px solid #fff;
}


/* For medium screen sizes from 950px wide and down 
@media screen and (max-width: 950px) {

    .navbar {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}*/



/* reasons why */

 #hero-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;
    margin-top: 0;
    z-index: 1;
 }

 #primary_image {
    height: 650px;
    width: 100%;  
    background: url(../images/1658902821116.png) no-repeat center center;
    background-size: cover;

    /* animates zoom effect on loading page */
     animation-name: hero-zoom;
     animation-duration: 5s;
     animation-fill-mode: backwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
  from{
      transform: scale(1.1);
  }
  to{
      transform: scale(1);
  }
}

#cover-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 20%;
    height: 550px;
    padding: 5px;
    background-color: rgba(38, 22, 164, 0.9);
    border-radius: 1rem;
    margin-top: 25px;
    right: 40px;
    position: absolute;
    animation-name: text-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes text-zoom {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
  }

 #cover-text h2, h3 {
    padding-top: 20px;
    padding-bottom: 10px;
 }
 #cover-text h2{
    font-size: 200%;
    text-shadow: 4px 4px turquoise;
    -webkit-text-stroke: 1px rgb(18, 18, 26);

 }
 #fun {
    padding-bottom: 30px;
    letter-spacing: 2px;
 }

 #number1 {
    font-family: "Lilita One",sans-serif;
    font-weight: 200;
 }

 #passionate {
    font-family: "Lilita One",sans-serif;
    text-transform: none;
    padding-bottom: 40px;

 }

 #book-now-bottom {
    display: block;
    background: #3a3a3a;
    color: #fff;
    text-align: center;
    font-family: "Lilita One",sans-serif;
    font-size:25px;
    padding: 10px;
    border-radius: 1rem;
    margin-block-end: 10px;
 }

 #book-now-bottom a {
    text-decoration: none;
    color: #fff;
}

#book-now-bottom a:hover {
    border-bottom: 2px solid #fff;
}

/* Add aditiona text to the hero image */ 

#additional {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 60%;
    height: 200px;
    padding: 5px;
    background-color: rgba(38, 22, 164, 0.9);
    border-radius: 1rem;
    margin-top: 370px;    
    left: 40px;
    position: absolute;
    animation-name: text-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

#learn-courses {
    font-size: 50px;
    padding-top: 30px;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-shadow: 4px 4px turquoise;
    font-weight: 20;
    -webkit-text-stroke: 1px rgb(18, 18, 26);
}

@media screen and (max-width:1200px) {

    .outer {
        font-size: 16px;
        overflow: hidden;
    }
    #primary_image {
        width: 100%;
        margin: 0 auto;
    }

    #cover-text{
        width: 25%;
        height: 600px;
        float: right;
        padding: 10px;
        margin-top: 30px;
}
    #book-now-bottom {
        font-size: 16px;
        padding: 5px;
        margin-block-end: 5px;
    }

    #club {
        font-size: 40px;
    }
    
    
    #additional {
        width: 60%;
        float: left;
        padding: 10px;
        clear: both;
        margin-top: 425px;
    }

    #learn-courses{
        font-size: 30px;
    }

   

    }

    


/*  
@media screen and (max-width: 420px) {
    #cover-text, #additional {width: 12.5%;}
}   
  
@media screen and (max-width: 290px) {
    #cover-text, #additional  {width: 12.2%;}
  } 
*/




/* reason-why-text */

.reason-why-text {
    background-image: url(../images/navy-bg.avif);
    border: 10px double white;
    font-size: 28px;
    letter-spacing: 2px;
    color: #fff;   
    height: 550px; 
}

#reason-why-main {
    margin: 50px 0;
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 800;
    font-size: 150%;
    color:#fff;
    padding-top: 10px;
    text-align: center;
}

#mid-section {
    height: 400px;    
    
}
.left {
    width: 34%;
    float: left;
    
}

.right {
    width: 34%;
    float: right;
}

#center {
    width: 31%;
    margin: 0 auto;
}

.left h5 {
    width: 100%;
    margin-bottom: 2px;
    text-align: right;
    padding: 25px 0;
    font-family: "Delicious Handrawn", sans-serif ;

}  
.right h5 {
    width: 100%;
    margin-bottom: 2px;
    text-align: left;
    padding: 25px 0;
    font-family: "Delicious Handrawn", sans-serif ;

    
}  


#circle-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: #00316B;
}

#circle-cover-bg {
    background: url('../images/kids_comp.jpg') no-repeat center center;
    background-size: contain;
    height: 100%;
    border-radius: 50%;
}

#first {
    font-family: "Lilita One", sans-serif;
    font-size: 10px;
    color: #3a3a3a;
    text-align: left;
}

@media screen and (max-width: 1200px) {

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* Add section about us */

#about-us {
    height: 1300px;  
    width: 100%; 
    background-image: url(../images/artificial-intelligences-impact-on-elearning.jpg);
    background-size: cover;
    color: #fff;
    font-family: "Lilita One", sans-serif;
}

.row {  
    display: flex;
    flex-wrap: wrap; 
  }
  
.side {
    flex: 30%;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    flex: 70%;
    padding: 20px;
  }
  
.feedback {
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 1px;
    background-color: rgba(38, 22, 164, 0.6);
    width: 100%;
    padding: 15px;
    text-align: left;
  }
 #we-recruit {
    padding: 30px;
    text-align: left;
 }
 #teacher {
    background-image: url(../images/new_teacher.jpg);
    background-size: cover;
 }   
 

 .row h2 {
    padding-top: 50px;
    margin-bottom: 10px;
    letter-spacing: 2px;

 }
 #feedback-title {
    margin-top: 20px;
 }

 #why-us {
    padding-top:70px;
 }

 @media screen and (max-width:1200px){
.feedback, .why-us {
    font-size: 20px;    
}
 }
 

/* Founders */

.founders {
height: 600px;
width: 100%;
padding: 15px 20px;
border-bottom: 2px solid #fff;
margin-top: 60px;
}

#founder-title {
    padding-bottom: 40px;
    font-size: 250%;
}

.flip-card {
    background-color: transparent;
    width: 333px;
    height: 300px;
    perspective: 1000px;
    float: left;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
  }
  
  .flip-card-back {
    background-color: rgba(38, 22, 164, 0.6);
    color: white;
    transform: rotateY(180deg);
  }

#founder-text {
    flex: 60%;
    right: 0;
    font-size: 25px;
    text-align: center;
    margin-left: 350px;
    line-height: 1.25;
}


@media screen and (max-width:1200px){
    #founder-text  {
        font-size: 20px;
    }
}


/* book-now section */

#book-now {
    height: 750px;
    width: 100%;
    padding: 60px;
    font-family: "Lilita One", sans-serif;
    
}

.month {
    padding: 150px 25px;
    width: 100%;
    background-image: url(../images/tech_2023_photo_by_miha_creative_on_shutterstock\ \(1\).jpg);
    background-size: cover;
    text-align: left;
    list-style-type: none;
    font-size: 45px;
  }

  .a::marker { 
    content:none;
  }


  .month ul {
    margin: 0;
    padding: 0;
    
  }

  
  
  .month ul li {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    list-style: none;
    hanging-punctuation: none;

  }
  
  .month .prev {
    float: left;
    padding-top: 10px;

  }
  
  .month .next {
    float: right;
    padding-top: 10px;

  }

  #august {
    font-size: 130%;
    padding-left: 70px;
  }
  
  .weekdays {
    margin: 0;
    padding: 30px 0;
    background-color: #ddd;
    font-size: 30px;
  }
  
  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: black;
    text-align: center;
  }
  
  .days {
    padding: 30px 0;
    background: #eee;
    margin: 0;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:16px;
    color: black;
  }
  
  .days li .active {
    padding: 5px;
    background: turquoise;
    color: white !important
  }
  
 

  /* Add media queries for smaller screens */
  @media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
  }
  
  @media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
  }
  
  @media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
  }

  


/* form  */

#sign_up {
    height: 650px;
    font-family: sans-serif;
    color: #fff;
    padding-top: 100px;
    margin: auto;
    width: 52%;
    padding: 50px 10px ;
}

form h1 {
    padding: 0 200px 40px 200px;
    text-shadow: 4px 4px turquoise;
    -webkit-text-stroke: 1px rgb(18, 18, 26);
    font-size: 50px;

}

#fill-the-form {
    font-size: 16px;
}



input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    margin-bottom: 25px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #208000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #800020;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 10px;
    width: 50%;
    width: 50%;
    margin: auto;

}
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }

  @media screen and (max-width:1200px){
    #sign {
        padding: 20px 0 ;
    }
}


 /* footer */

footer {
    flex-direction: column;
    background-color: #3a3a3a;
    margin-top: auto;
    bottom: 0;
    font-family:  sans-serif;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 0;




}

footer h2 {
    font-size: 180%;
    margin: auto;
    width: 20%;
    padding: 30px 0;
    color: turquoise;
    

}

footer h3 {
    margin: auto;
    width: 50%;
    word-spacing: 5px;
    padding: 10px;
    text-align: center;
    color: turquoise;
    font-size: 16px;

}


footer p {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    word-spacing: 5px;
    font-size: 14px;


}


.social-networks {
    text-align: center;
    margin-bottom: 0;
    padding: 30px 0 20px 0;

}

.social-networks > li {
    display: inline;
    color: #fff;

}

.social-networks i {
    font-size: 200%;
    color: #fff;
    width: 10%;
}