@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Ubuntu:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Delicious Handrawn, sans-serif;
    font-weight:400;
    color: #3a3a3a;
    background-color: #6AA84F;

}

/* heading and logo */



h1, h2 {
    font-family: Delicious Handrawn, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #744700;
}

#logo {
    float: left;
    font-size: 400%;
}

/* navigation links */

#menu {
    font-size: 200%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}
#zoom-effect {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#cover-text {
    color: #fff;
}

#cover-text h2 {
    color: black;
    text-align: center;
    text-decoration-line: underline;
    font-size: 300%;
    font-weight: 600;
}

#cover-text h3 {
    font-weight: 400;
    padding-top: 40px;
    padding-right: 20px;
    text-align: center;}

#dino_laptop {
    background: url(../images/dino_laptop.jpg) no-repeat center; 
    background-size: 100%;
    height: 500px;
    position: relative;

    /* animates zoom effect on loading page */
    animation-name: zoom-effect;
    animation-duration: 10s;
    animation-fill-mode: forwards;


}



/* create the level of zoom for dino image */

@keyframes zoom-effect{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 100%;
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 500px;
    height: 400px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);
}


/* club ethos */

#club-ethos {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: blue;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: aqua;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: chartreuse;
}