@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: Delicious Handrawn, sans-serif;
    font-weight:400;
    color: #3a3a3a;
    background-color: #797ef6;  
}

/* heading and logo */



h1, h2 {
    font-family: Lilita One, sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding-left: 10px;
}


.navbar {
    overflow: hidden;
    background-color: #3a3a3a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  
  .logo{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .logo a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Position the navbar container inside the image */
   .container {
    position: absolute;
    margin: 20px;
    width: auto;
   }
  


#logo {
    float: left;
    font-size: 400%;
    letter-spacing: 4px;
}

#container-for-icon {
    width: 70px;
    height: 70px;
    float: left;
    padding-left: 5px;
}

#image-for-icon {
    background: url(../images/favicon.png) no-repeat center center;
    height: 70px;
    width: 70px;
    border-radius: 50%;

}
/* navigation links */

#menu {
    font-size: 200%;
    letter-spacing: 2px;
    font-family: Lilita One, sans-serif;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: #fff;
}

#menu a:hover {
    border-bottom: 2px solid #fff;
}

.active {
    border-bottom: 2px solid #fff;
}




/* club ethos */

#primary h1{
    padding-top: 250px;
    height: 600px;
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-family: Ubuntu, sans-serif;
    
 }

 #hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    margin-top: 75px;

 }

 #primary_image {
    height: 600px;
    min-width: 100vw;    
    background: url(../images/WBBlog_KidsCoding.jpg) no-repeat center center;

  
    /* animates zoom effect on loading page */
     animation-name: hero-zoom;
     animation-duration: 5s;
     animation-fill-mode: backwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
  from{
      transform: scale(1.1);
  }
  to{
      transform: scale(1);
  }
}

#cover-text {
    color: #fff;
    font-size: 180%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 350px;
    height: 400px;

    padding: 15px;
    background-color: rgba(19, 74, 255, 0.5);

    top: 120px;
    right: 30px;

    position: absolute;
}
 #cover-text h2, h3 {
    padding-top: 40px;
 }

/* footer */

footer {
    height: 100px;
    background-color: #3a3a3a;
    margin-top: auto;   
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
    color: #fff;
}

.social-networks i {
    font-size: 250%;
    color: #fff;
    padding-top: 30px;
    padding-right: 5%;
}