@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Delicious+Handrawn&family=Lilita+One&display=swap');   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
html, body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Delicious Handrawn", sans-serif;
    font-weight:400;
    color: #fff;
    background-color: #011F5D;   
}

h1, h2 {
    font-family: "Lilita One", sans-serif;
    text-transform: uppercase;
    color: #fff;
}
 


/*     Navbar and logo     */

.navbar {
    height: 50px;
    overflow: hidden;
    background-color: #3a3a3a;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

#container-for-icon {
   
    float: left;
    padding: 5px;
}

#image-for-icon {
    background: url(../images/favicon.png) no-repeat center center;
    height: 38px;
    width: 38px;
    border-radius: 50%;
}
  
#logo {
    float: left;
    font-size: 40px;
    letter-spacing: 2px;
    padding-top: 4px;
    margin-left: 15px;
}

/*     Navigation links     */

#menu {
    font-size: 140%;
    letter-spacing: 2px;
    font-family: "Lilita One", sans-serif;
    padding-top: 5px;
}

#menu, #logo {
    line-height: 40px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #fff;
}

#menu a:hover {
    border-bottom: 2px solid #fff;
}


/*     Main image with text     */

#primary_image {
    height: 650px;
    width: 100%;  
    margin-top: 50px;
    background: url(../images/1658902821116.png) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    position: relative;


/* Animates zoom effect on loading page */
     animation-name: hero-zoom;
     animation-duration: 5s;
     animation-fill-mode: backwards;
}

.outer {
    overflow: hidden;
}

/* Creates the level of zoom for hero image */
@keyframes hero-zoom {
  from{
      transform: scale(1.1);
  }
  to{
      transform: scale(1);
  }
}

#cover-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 20%;
    height: fit-content;
    padding: 5px;
    background-color: rgba(38, 22, 164, 0.9);
    border-radius: 1rem;
    bottom: 50px;
    right: 40px;
    position: absolute;
    bottom: 50px;
    animation-name: text-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
/* Creates the level of zoom for text on the image */

@keyframes text-zoom {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
}

#cover-text h2, h3 {
    padding-top: 20px;
    padding-bottom: 10px;
}
#cover-text h2{
    font-size: 200%;
    text-shadow: 4px 4px turquoise;
    -webkit-text-stroke: 1px rgb(18, 18, 26);
}

#fun {
    padding-bottom: 30px;
    letter-spacing: 2px;
}

#number1 {
    font-family: "Lilita One",sans-serif;
    font-weight: 200;
 }

#passionate {
    font-family: "Lilita One",sans-serif;
    text-transform: none;
    padding-bottom: 40px;
}

#book-now-bottom {
    display: block;
    background: #3a3a3a;
    color: #fff;
    text-align: center;
    font-family: "Lilita One",sans-serif;
    font-size:25px;
    padding: 10px;
    border-radius: 1rem;
    margin-block-end: 10px;
}

#book-now-bottom a {
    text-decoration: none;
    color: #fff;
}

#book-now-bottom a:hover {
    border-bottom: 2px solid #fff;
}

#additional {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 60%;
    height: fit-content;
    padding: 5px;
    background-color: rgba(38, 22, 164, 0.9);
    border-radius: 1rem;
    position: absolute;
    bottom: 50px;
    left: 40px;
    animation-name: text-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#learn-courses {
    padding: 25px;
    font-size: 250%;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-shadow: 4px 4px turquoise;
    font-weight: 20;
    -webkit-text-stroke: 1px rgb(18, 18, 26);
}


/* reason-why-text */

.reason-why-text {
    background-image: url(../images/navy-bg.avif);
    border: 10px double white;
    font-size: 28px;
    letter-spacing: 2px;
    color: #fff;   
    height: 700px; 
}

#reason-why-main {
    margin: 50px 0;
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 800;
    font-size: 150%;
    color:#fff;
    padding-top: 10px;
    text-align: center;
}

#mid-section {
    height: 400px; 
    padding-top: 50px;       
}

.left {
    width: 34%;
    float: left;   
}

.right {
    width: 34%;
    float: right;
}

#center {
    width: 31%;
    margin: 0 auto;
}

.left li {
    width: 100%;
    font-size: 23px;
    margin-bottom: 2px;
    text-align: right;
    padding: 25px 0;
    font-family: "Delicious Handrawn", sans-serif ;
    list-style-type: none;
}  

.right li {
    width: 100%;
    font-size: 23px;
    margin-bottom: 2px;
    text-align: left;
    padding: 25px 0;
    font-family: "Delicious Handrawn", sans-serif ;  
    list-style-type: none;  
}  

#circle-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: #00316B;
}

#circle-cover-bg {
    background: url('../images/kids_comp.jpg') no-repeat center center;
    background-size: contain;
    height: 100%;
    border-radius: 50%;
}

#first {
    font-family: "Lilita One", sans-serif;
    font-size: 10px;
    color: #3a3a3a;
    text-align: left;
}



/*     Add section about us     */


#about-us {
    width: 100%;
}
.row {  
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
  }
  
.side {
    flex: 30%;
    padding: 20px;
  }
  
.main {   
    flex: 70%;
    padding: 20px;
  }
  
.feedback {
    height: 200px;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 2px;
    background-color: rgba(38, 22, 164, 0.6);
    width: 100%;
    padding: 20px;
    text-align: left;
    
  }


.row h2 {
    padding-top: 50px;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

/*     Founder    */

.founder {
    padding: 20px;
    border-bottom: 2px solid #fff;
    font-family: 'Lilita One', sans-serif;
    letter-spacing: 2px;
}

#founder-title {
    padding-bottom: 40px;
    font-size: 250%;
}

.flip-card {
    height: 300px;
    width: 333px;
    background-color: transparent;
    perspective: 1000px;
    float: left;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #bbb;
}
  
.flip-card-back {
    background-color: rgba(38, 22, 164, 0.6);
    color: white;
    transform: rotateY(180deg);
}

#founder-text {
    font-size: 24px;
    text-align: center;   
}

#text {
    padding-left: 30%;
}

#responsive{
    width: 333px;
    height: 300px;
}


/*     Calendar section     */

#calendar {
    height: 750px;
    width: 100%;
    padding: 60px;
    font-family: "Lilita One", sans-serif;    
}

.month {
    padding: 150px 25px;
    width: 100%;
    background-image: url(../images/tech_2023_photo_by_miha_creative_on_shutterstock\ \(1\).jpg);
    background-size: cover;
    text-align: left;
    list-style-type: none;
    font-size: 45px;
}

.a::marker { 
    content:none;
}

.month ul {
    margin: 0;
    padding: 0; 
}

.month ul li {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    list-style: none;
}
  
.month .prev {
    float: left;
    padding-top: 10px;
}
  
.month .next {
    float: right;
    padding-top: 10px;
}

#august {
    font-size: 130%;
    padding-left: 70px;
}
  
.weekdays {
    margin: 0;
    padding: 30px 0;
    background-color: #ddd;
    font-size: 30px;
}
  
.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: black;
    text-align: center;
}
  
.days {
    padding: 30px 0;
    background: #eee;
    margin: 0;
}
  
.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:16px;
    color: black;
}
  
.days li .active {
    padding: 5px;
    background: turquoise;
    color: white !important
}
  

/*      Sign up form section      */

#sign_up {
    font-family: sans-serif;
    color: #fff;
    padding-top: 100px;
    margin: auto;
    padding: 50px 10px ;
}

form h1 {
    padding: 40px 0 30px 0;
    text-shadow: 4px 4px turquoise;
    -webkit-text-stroke: 1px rgb(18, 18, 26);
    font-size: 50px;
}

#fill-the-form {
    font-size: 16px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}  

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

input[type=email]:focus  {
    background-color: #ddd;
    outline: none;
}
  
hr {
    margin-bottom: 25px;
}
  
button {
    background-color: #208000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}
  
button:hover {
    opacity:1;
}
  
.cancelbtn {
    padding: 14px 20px;
    background-color: #800020;
}
  
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}
  
.container {
    padding: 10px;
    width: 70%;
    margin: auto;
}
  
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
  
/*  animation  for sign up heading */
.animate__animated, .animate__bounce {
    --animate-duration: 5s;
    --animate-delay: 5s;
  }
  

/*     Footer     */

footer {
    background-color: #3a3a3a;
    font-family:  sans-serif;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 0;
}

footer h2 {
    font-size: 180%;
    margin: auto;
    width: 20%;
    padding: 30px 0;
    color: turquoise;
}

footer h3 {
    margin: auto;
    width: 50%;
    word-spacing: 5px;
    padding: 10px;
    text-align: center;
    color: turquoise;
    font-size: 16px;
}

footer p {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    word-spacing: 5px;
    font-size: 14px;
}

.social-networks {
    text-align: center;
    margin-bottom: 0;
    padding: 30px 0 20px 0;
}

.social-networks > li {
    display: inline;
    color: #fff;

}

.social-networks i {
    font-size: 200%;
    color: #fff;
    width: 10%;
}

/* Thank you for submission */

#thank_you {
    max-height: 100vh;
    width: 100%;
    font-family: "Lilita One", sans-serif;
    background-color: #011F5D;  
    margin-top: 100px;
    text-align: center;
   
}

#check_icon {
    font-size: 10rem;
    margin: 50px auto;
    width: 50%;
    line-height: unset;
}

#thank_you h1 {
    font-size: 200%;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#thank_you p {
    font-size: 130%;
    margin: auto;
    width: 50%;
    padding: 10px;
}

/* Media queries for navigation bar*/

@media screen and (max-width:650px){
    #menu{font-size: 100%;}
    #menu li{margin-right: 25px;}
    }
    
@media screen and (max-width:450px){
    .navbar{height: fit-content;}  
    #menu {clear: both; padding-left: 20px; float: left;}
    }

/* Media queries for primary image section*/

@media screen and (max-width:1200px) {
    #cover-text{ width: 35%; right: 10px; bottom: 25px;}
    #book-now-bottom {font-size: 16px; padding: 5px; }
    #club {font-size: 40px}
    #additional {width: 50%; left: 10px; bottom: 25px;}
    #learn-courses{font-size: 30px; padding: 30px;}
    }
    
@media screen and (max-width:750px) {
    #cover-text{width: 35%; font-size: 12px;}
    #additional{width: 45%;}
    #learn-courses{font-size: 25px; padding: 10px;}
    }
    
@media screen and (max-width:430px){
    #primary_image {height:800px;  background-size: inherit; }
    #cover-text{width: 100%;  right: 0%; bottom: 0; border-radius: 0%; }
    #additional{width: 100%; left: 0%; top:40px; border-radius: 0%; }
    #learn-courses{font-size: 25px; padding: 10px;} 
    #passionate{font-size: large;}  
    }
 
/* Media queries for reason why section */

@media screen and (max-width: 1200px) {
    .reason-why-text{height: 750px;}
    #reason-why-main{margin: 0; font-size: 130%; padding: 30px;}
    .left {width: 50%; float: left; padding: 20px 0;}
    .left li{padding: 10px 40px 10px 0;}
    .right li{padding: 10px 0 10px 40px;}
    .right{width: 50%; float: right; padding: 20px 0;}
    #center {clear: both; width: 100%; float: left; padding: 0;}
    .left li{ padding: 10px;}  
    }
    
@media screen and (max-width:910px){
    .reason-why-text{display: table;}
    #reason-why-main{text-decoration: underline;}
    .left{width: 100%; padding: 0;}    
    .left li{ float: left; text-align: center; padding: 10px 0; font-size: 30px;}
    .right{width: 100%; padding: 0;}
    .right li{ float: left; text-align: center; padding: 10px 0; font-size: 30px;}
    i.fa-solid.fa-check {font-size: 0;}
    #center{padding: 20px;}
    }
      
@media screen and (max-width:450px){
    #reason-why-main { font-size: 100%; padding-bottom: 20px;}
    .left li {padding: 10px; font-size: 20px;}
    .right li {padding: 10px; font-size: 20px;}
    }
    
@media screen and (max-width:350px){
    #reason-why-text{display: block;}
    .left li, .right li {font-size: 14px;}
    #center{padding: 50px 0;}
    #circle-container{width: 150px; height: 150px;}
    }
    

/*Media queries for about us section*/

@media screen and (max-width:1000px){
    .feedback, .why-us, #we-recruit {font-size: 18px;}
    }
    
@media screen and (max-width: 700px) {
    .feedback, .why-us, #we-recruit {height: fit-content; }
    #about-us { padding: 10px; width: 100%;}
    .side, .main{flex:100%; padding: 0;}
    }
    


/*Media queries for founder section*/

@media screen and (max-width:1200px){
    #founder-title {padding-bottom: 20px; font-size: 200%;} 
    #text{padding-left: 40%; font-size: 18px;}  
   }
   
@media screen and (max-width:1000px){
   #text{padding-left: 350px; font-size: 18px; text-align: left;}    
   }
   
@media screen and (max-width:700px){
   #text{width:100%; clear:left; font-size: 20px; padding: 10px 0; text-align: center;}    
   #founder-title{font-size: 180%;}  
   .flip-card{width: 100%;}
   .flip-card-front{background-color: #f9f9fb;}
   .founder{padding: 0;}
   }
   
@media screen and (max-width:365px){
   
   #responsive{width: 100%; height: auto;}
   #founder-title{font-size: 140%; text-align: center;}
   .flip-card-inner{ transition: none; transform-style: flat;}
   .flip-card{width: 100%; height: auto; }
   .flip-card-front{position: static;}
   .flip-card-back{position:static; transform: none;}
   .flip-card-back h2{font-size: 20px; padding: 0;}
   .flip-card-back p{font-size: 14px; padding-bottom: 5px;}
   }
   

/* Media queries for calendar */

@media screen and (max-width:1000px){
    #calendar{padding: 20px;}
}

@media screen and (max-width:780px) {
    #calendar { padding:10px ; height: fit-content; }
    .weekdays li, .days li {width: 13.1%;}
    .month { font-size: 100%;}
    }
      
@media screen and (max-width: 420px) {
    #calendar {padding: 50px 10px ; height: fit-content;}
    .weekdays li, .days li {width: 12.5%;}
    .weekdays {font-size: 18px;}
    .days li .active {padding: 2px;}
    #august { padding:70px; font-size: 25px;}
    .month { padding: 0;}
    .container{width: 100%;}
    }
      
@media screen and (max-width: 290px) {
    #calendar {padding: 10px ; height: fit-content;}
    .weekdays li, .days li {width: 12.2%;}
    .weekdays {padding:10px 0;}
    #august {padding:50px; font-size: 20px;}
    .month {padding: 0;}
    .days {padding: 10px 0;}
    }
    
/* Media queries for sign-up form */

@media screen and (max-width:400px){
    .container{width: 100%;}
    .cancelbtn, .signupbtn {font-size: 12px;}
}


/* Media queries for the footer */

@media screen and (max-width:920px){
    footer h2{font-size: 18px;}
}


@media screen and (max-width:700px){
    footer h2, footer h3, footer p {margin: 0;width: 100%;font-size: 12px;}
    footer h2 {font-size: 16px;}
    }
    
@media screen and (max-width:350px){
    .social-networks i{font-size: 100%;}
    }

