@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Ubuntu:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Delicious Handrawn, sans-serif;
    font-weight:400;
    color: #3a3a3a;
    background-color: #6AA84F;
}

/* heading and logo */

h1, h2 {
    font-family: Delicious Handrawn, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #744700;
}

#logo {
    float: left;
    font-size: 400%;
}
/* navigation links */

#menu {
    font-size: 200%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

/* dino_laptop */

#dino_laptop {
    height: 700px;
    width: 100%;
    background: url(../images/dino_laptop.jpg) no-repeat ;
  

}