@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Ubuntu:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Delicious Handrawn, sans-serif;
    font-weight:400;
    color: #3a3a3a;
    background-color: #6AA84F;
}

/* heading and logo */

h1, h2 {
    font-family: Delicious Handrawn, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #744700;
}

#logo {
    float: left;
    font-size: 400%;
}