@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Ubuntu:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Delicious Handrawn, sans-serif;
    font-weight:400;
    color: #3a3a3a;
    background-color: #6AA84F;
    overflow: scroll;
}

/* heading and logo */



h1, h2 {
    font-family: Delicious Handrawn, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
    padding-left: 100px;
}


.navbar {
    overflow: hidden;
    background-color: #797ef6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  
  .logo{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .logo a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Position the navbar container inside the image */
   .container {
    position: absolute;
    margin: 20px;
    width: auto;
   }
  


#logo {
    float: left;
    font-size: 400%;
}

#container-for-icon {
    width: 70px;
    height: 70px;
    float: left;
    padding-left: 5px;
}

#image-for-icon {
    background: url(../images/dow.png) no-repeat center center;
    height: 70px;
    width: 70px;
    border-radius: 50%;

}
/* navigation links */

#menu {
    font-size: 200%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}


#cover-text {
    color: #fff;
}

#cover-text h2 {
    color: black;
    text-align: center;
    text-decoration-line: underline;
    font-size: 300%;
    font-weight: 600;
}

#cover-text h3 {
    font-weight: 400;
    padding-top: 40px;
    padding-right: 20px;
    text-align: center;}

#dino_laptop {
    background: url(../images/Dinosaurs-Wallpapers-dinosaurs-16121866-1680-1050.jpg) no-repeat center center; 
    background-size: cover;
    height: 550px;
    position: relative;
    margin-top: 60px;


}



/* create the level of zoom for dino image */

@keyframes zoom-effect{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 100%;
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 100%;
    height: 400px;

    margin-top: 0;


    background-color: #797ef6;
}


/* club ethos */

#club-ethos {
    height: 600px;
}

#left-about {
    padding-top: 60px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 60px;
    width: 33%;
    float: right;
}



#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100ยง;
    margin: 5px 0;
}
.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.right-about-heading h2 {
    text-align: right;   
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-container{
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 0 auto;


}

#circle-cover-bg {
    background: url(../images/cute-dinosaur-playing-computer-cartoon-icon-illustration-animal-technology-icon-concept-isolated-premium-vector.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;

}