@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: Delicious Handrawn, sans-serif;
    font-weight:400;
    color: #3a3a3a;
    background-color: #3a3a3a;  
}

h1, h2 {
    font-family: Lilita One, sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding-left: 10px;
}

/* heading and logo */

header {
    height: 50px;
    width: 100%;
}

.navbar {
    height: 50px;
    overflow: hidden;
    background-color: #3a3a3a;
    position: fixed;
    top: 0;
   
    width: 100%;
    z-index: 99;
  }
  
  .logo{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 10px;
  }
  
  .logo a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Position the navbar container inside the image */
   .container {
    position: absolute;
    width: auto;
   }
  


#logo {
    float: left;
    font-size: 35px;
    letter-spacing: 2px;
    padding-top: 4px;
}

#container-for-icon {
    width: 38px;
    height: 38px;
    float: left;
    padding: 5px;
}

#image-for-icon {
    background: url(../images/favicon.png) no-repeat center center;
    height: 38px;
    width: 38px;
    border-radius: 50%;

}
/* navigation links */

#menu {
    font-size: 140%;
    letter-spacing: 2px;
    font-family: Lilita One, sans-serif;
    padding-top: 5px;
}

#menu, #logo {
    line-height: 40px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #fff;
}

#menu a:hover {
    border-bottom: 2px solid #fff;
}

.active {
    border-bottom: 2px solid #fff;
}




/* reasons why */

 #hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    margin-top: 0;
    z-index: 1;

 }

 #primary_image {
    height: 400px;
    width: 100%;    
    background: url(../images/WBBlog_KidsCoding.jpg) no-repeat center center;

  
    /* animates zoom effect on loading page */
     animation-name: hero-zoom;
     animation-duration: 5s;
     animation-fill-mode: backwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
  from{
      transform: scale(1.2);
  }
  to{
      transform: scale(1);
  }
}

#cover-text {
    color: #fff;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;

    width: 180px;
    height: 320px;

    padding: 5px;
    background-color: rgba(19, 74, 255, 0.5);

    top: 80px;
    right: 30px;

    position: absolute;
}
 #cover-text h2, h3 {
    padding-top: 20px;
    padding-bottom: 10px;
 }

 #fun {
    padding-bottom: 40px;
    letter-spacing: 2px;
 }

 #book-now-bottom {
    display: block;
    background: #3a3a3a;
    color: #fff;
    text-align: center;
    font-family: Lilita One,sans-serif;
    padding: 10px;
    font-weight: 150px;
    border-radius: 1rem;
 }

 #book-now-bottom a {
    text-decoration: none;
    color: #fff;
}

#book-now-bottom a:hover {
    border-bottom: 2px solid #fff;
}

.active {
    border-bottom: 2px solid #fff;
}

 
/* reason-why-text */

#mid-section {
    height: 400px;    
}

.left {
    width: 33%;
    float: left;
    
}

.right {
    width: 33%;
    float: right;
}

#center {
    width: 33%;
    margin: 0 auto;
}


    
.reason-why-text {
    background-image: url(../images/cyber_bg.jpg);
    font-size: 28px;
    letter-spacing: 1px;
    color: #fff;
    font-family: Delicious Handrawn, sans-serif ;
}
#reason-why-main {
    margin: 50px 0;
    font-size: 120%;
    color:#fff;
    padding-top: 10px;
    text-align: center;
}

.left h5 {
    width: 100%;
    margin-bottom: 2px;
    text-align: right;
    padding: 30px 0;

}  
.right h5 {
    width: 100%;
    margin-bottom: 2px;
    text-align: left;
    padding: 30px 0;

    
}  


#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
   
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/stock-photo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#first {
    font-family: Lilita One, sans-serif;
    font-size: 10px;
    color: #3a3a3a;
    text-align: left;
}
/* event times */

#times {
    
    height: 300px;
    width: 100%;
    margin-bottom: 0;
}

#times div {
    
    color: #fafafa;
    width: 20%;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#times h2 {
    color: #fafafa;
}

#div1 {
    background-image:url(../images/Summer-camp1-247x296\ -\ Copy.jpg)no-repeat;

}







 /* footer */

footer {
    height: 50px;
    background-color: #3a3a3a;
    margin-top: 0 auto;
    margin-bottom: 0;   
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
    color: #fff;
}

.social-networks i {
    font-size: 180%;
    color: #fff;
    padding-top: 10px;
    padding-right: 5%;
}